<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Change Password</h2></div>
            <div class="panel-body">
                <!-- {{ errors | json_encode }} -->
                <form action="{{ path_for('auth.password.change') }}" method="post" autocomplete="off">

                    <!--/   CURRENT PASSWORD   \-->
                    <div class="{{ errors.passwordCurrent ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                            <input type="password" class="form-control" name="passwordCurrent" id="passwordCurrent" placeholder="You current Password"  value="{{ old.passwordCurrent }}">
                        </div>
                        {% if errors.passwordCurrent %}
                            <span class="help-block">{{ errors.passwordCurrent | first }}</span>
                        {% endif %}
                    </div>
                    <span class="help-block"></span>


                    <!--/   PASSWORD   \-->
                    <div class="{{ errors.password ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Choose new Password"  value="{{ old.password }}">
                        </div>
                        {% if errors.password %}
                        <span class="help-block">{{ errors.password | first }}</span>
                        {% endif %}
                    </div>
                    <span class="help-block"></span>

                    <!--/   PASSWORD CONFIRM   \-->
                    <div class="{{ errors.passwordConfirm ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                            <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" placeholder="Repeat new Password">
                        </div>
                        {% if errors.passwordConfirm %}
                            {% set passwordConfirm = errors.passwordConfirm | first %}
                            <span class="help-block">{{ (passwordConfirm matches '/equals/') ? '"Repeat Password" does not match "Password"' : passwordConfirm }}</span>
                        {% endif %}
                    </div>
                    <span class="help-block"></span>

                    <!--/   SUBMIT   \-->
                    <input type="submit" value="Change Password" class="btn btn-lg btn-primary btn-block"/>

                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
</div>
